<ul class="list-inline text-center">
  <% ["anne", "anne", "anne"].each do |member| %>
    <li>
      <%= image_tag "anne.jpg", class: "img-rounded avatar" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
